In [1]:
import pandas as pd
import os

In [2]:
#File load
data_to_load= "vine_table_202201082338.csv"
vine_df = pd.read_csv(data_to_load, low_memory=False)

In [3]:
vine_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EQSTM9PWRAL,3.0,0.0,0.0,N,Y
1,RBWPRK17XKIXD,5.0,0.0,0.0,N,Y
2,RRSLOAF273XFC,5.0,1.0,2.0,N,Y
3,R3S8W9Q6SWIT8O,4.0,0.0,0.0,N,Y
4,R3QQ6NSLRVBFJC,4.0,0.0,0.0,N,Y

In [4]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [5]:
import numpy as np
#using https://www.py4u.net/discuss/156627
vine_df['total_votes'] = vine_df['total_votes'].fillna(0).astype(np.int64)
vine_df['helpful_votes'] = vine_df['helpful_votes'].fillna(0).astype(np.int64)
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes          int64
total_votes            int64
vine                  object
verified_purchase     object
dtype: object

In [6]:
Above_20_df = vine_df[vine_df["total_votes"]>=20]
#https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/
Above_20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37,46,N,Y
178,R218TGWCIAZYNY,5.0,191,198,N,Y
244,RGC2TLSBHLPZA,5.0,49,50,N,Y
292,R2YYVOW2RYGRM8,5.0,27,28,N,Y
353,R2X4WF89XICSB2,1.0,21,21,N,Y
...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33,35,N,Y
5331437,R32YWVU6WFM1DD,5.0,34,34,N,N
5331438,R14K2O125RAO00,5.0,26,28,N,N
5331439,RZ40FSRB4CJWS,5.0,47,47,N,N
5331444,R10ITC6DGYFD3J,1.0,11,46,N,N

In [7]:
helpful = Above_20_df['helpful_votes']
total = Above_20_df['total_votes']


Above_20_df['helpful_total']= helpful/total * 100

C:\Users\mmagana\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
helpful_total = Above_20_df[Above_20_df["helpful_total"]>=50]
helpful_total

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_total
57,R2984F9VD9WDJB,1.0,37,46,N,Y,80.434783
178,R218TGWCIAZYNY,5.0,191,198,N,Y,96.464646
244,RGC2TLSBHLPZA,5.0,49,50,N,Y,98.000000
292,R2YYVOW2RYGRM8,5.0,27,28,N,Y,96.428571
353,R2X4WF89XICSB2,1.0,21,21,N,Y,100.000000
...,...,...,...,...,...,...,...
5331433,R2UCPMM1MHGCD7,4.0,22,24,N,Y,91.666667
5331434,R2E9I59R1AUR7O,5.0,33,35,N,Y,94.285714
5331437,R32YWVU6WFM1DD,5.0,34,34,N,N,100.000000
5331438,R14K2O125RAO00,5.0,26,28,N,N,92.857143
5331439,RZ40FSRB4CJWS,5.0,47,47,N,N,100.000000

In [9]:
Vine_yes_df = helpful_total[helpful_total["vine"]>='Y']
Vine_yes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_total
38366,RG70K1HMY4LXX,4.0,37,44,Y,N,84.090909
145857,R1DHGTNXDXJ0GB,5.0,78,93,Y,N,83.870968
150655,R3B5S3OSA8N6AO,5.0,38,43,Y,N,88.372093
173012,R29X0YBS0SBIUP,5.0,56,74,Y,N,75.675676
223093,R1ZEDMCU6NYC8Q,3.0,26,27,Y,N,96.296296
...,...,...,...,...,...,...,...
5277568,R36RASFZVN2Q8N,3.0,23,24,Y,N,95.833333
5278013,R3GSPG69UD13JN,3.0,116,121,Y,N,95.867769
5278147,R19KPT1VUJH0ZH,5.0,28,29,Y,N,96.551724
5278790,R1LTHP49NUQMFH,4.0,33,33,Y,N,100.000000
5278803,R19I5HOSQ73JPY,4.0,354,358,Y,N,98.882682

In [10]:
Vine_no_df = helpful_total[helpful_total["vine"]>='N']
Vine_no_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_total
57,R2984F9VD9WDJB,1.0,37,46,N,Y,80.434783
178,R218TGWCIAZYNY,5.0,191,198,N,Y,96.464646
244,RGC2TLSBHLPZA,5.0,49,50,N,Y,98.000000
292,R2YYVOW2RYGRM8,5.0,27,28,N,Y,96.428571
353,R2X4WF89XICSB2,1.0,21,21,N,Y,100.000000
...,...,...,...,...,...,...,...
5331433,R2UCPMM1MHGCD7,4.0,22,24,N,Y,91.666667
5331434,R2E9I59R1AUR7O,5.0,33,35,N,Y,94.285714
5331437,R32YWVU6WFM1DD,5.0,34,34,N,N,100.000000
5331438,R14K2O125RAO00,5.0,26,28,N,N,92.857143
5331439,RZ40FSRB4CJWS,5.0,47,47,N,N,100.000000

In [11]:
#Determine the total number of reviews paid
paid_total = Vine_yes_df['review_id'].count()
paid_total

497

In [12]:
#Determine the total number of reviews unpaid
unpaid_total = Vine_no_df['review_id'].count()
unpaid_total

121360

In [13]:
#the number of 5-star reviews paid
star_paid = Vine_yes_df[Vine_yes_df['star_rating']>= 5]
star_paid_count = star_paid['review_id'].count()
star_paid_count

220

In [14]:
#the number of 5-star reviews unpaid
star_unpaid = Vine_no_df[Vine_no_df['star_rating']>= 5]
star_unpaid_count =  star_unpaid['review_id'].count()
star_unpaid_count

74690

In [15]:
#percentage of 5-star reviews for the two types of review paid
paid_star_percent = star_paid_count / paid_total * 100
paid_star_percent

44.26559356136821

In [16]:
#percentage of 5-star reviews for the two types of review unpaid
unpaid_star_percent = star_unpaid_count / unpaid_total * 100
unpaid_star_percent

61.54416611733685